.closeBtn {
  color: red;
  display: flex;
  margin-left: auto;
  border: none;
  background-color: lightyellow;
  font-size: 25px;
  font-family: -webkit-pictograph;
}

.userModel {
  border: none !important;
  cursor: pointer;
  background-color: honeydew;
}

td {
  border: none;
  border-bottom: 1px solid lightgrey;
}
.userModel:hover {
  background-color: lightyellow;
}
