/* ------------------------- Abu Horain - Media quary ----------------- */
@media only screen and (max-width: 470px) {
  .side_bar {
    position: relative !important;
  }
}

/* ------------ mamun bhai ---------------- */
.side_bar {
  background: #242424;
  color: #bdbdbd;
  font-size: 1.2rem;
  height: 100vh;
  position: fixed;
  padding: 2rem 0rem;
  left: 0;
  width: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}
ul.side_bar_ul,
ul.side_bar_header_ul {
  list-style: none;
  margin: 1rem 0rem;
  padding-left: 0px;
}
li.side_bar_li {
  padding: 0.6rem 2rem;
  font-size: 1rem;
  font-weight: 400;
}
li.side_bar_li:hover {
  background-color: #3a3a3a;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
li.side_bar_header_li {
  padding: 0rem 2rem 1rem;
  font-size: 1.8rem;
  font-weight: bolder;
  color: white;
  margin-bottom: 2rem;
  box-shadow: 0 5px 4px -2px #ff00006b;
}
li.side_bar_li.active {
  background-color: #3a3a3a;
  color: white;
}
a#link_a {
  color: #bdbdbd;
}
a#link_a:hover {
  text-decoration: none;
}

/* For Drop - Down */
div.drop_down {
  width: 100%;
  max-height: 0;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
  margin-left: 0.8rem;
}

.drop_down.active {
  max-height: 500px;
  transition: max-height 0.3s ease-in;
}
.loading {
  background: white;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 12552;
  left: 0;
}
.loading_img {
  width: 50px;
  margin-right: 1rem;
}
.p-relative {
  position: relative;
}


