.row {
  margin: 0px;
}
.col-md-2 {
  padding: 0;
}
.col-md-3.box {
  color: white;
  font-weight: 500;
  padding: 6px 13px;
}
.col-md-10 {
  padding: 0;
}
.dashboard_content {
  background-color: #f2f3f8;
  min-height: 100vh;
  border-bottom: 1px solid #c54545;
  padding-top: 3rem;
}

.sales_box {
  border-radius: 3px;
  font-size: auto;
  padding: 28px 0;
}

.inventory_box {
  border: 1px solid lightgrey;
  margin: 10px 0;
  padding: 3px 6px;
  border-radius: 5px;
}

.dashboard_product {
  background-color: #e0ecf8;
}

.product_details {
  border: 1px solid lightgrey;
  padding: 5px 20px;
}

.top_selling {
  border: 1px solid lightgrey;
  padding: 5px 20px;
}
.border_bottom {
  border-bottom: 1px solid lightgrey;
}

.sales_box.d-flex.flex-column.align-items-center {
  background: linear-gradient(
    167deg,
    rgba(255, 146, 63, 1) 0%,
    rgba(254, 109, 119, 1) 100%
  );
  box-shadow: 0 6px 24px 0 rgb(254, 109, 119, 1);
}
.sales_box.box2.d-flex.flex-column.align-items-center {
  background: linear-gradient(
    167deg,
    rgba(114, 211, 14, 1) 0%,
    rgba(11, 193, 129, 1) 100%
  );
  box-shadow: 0 6px 24px 0 rgb(11 193 129 / 62%);
}
.sales_box.box3.d-flex.flex-column.align-items-center {
  background: linear-gradient(
    167deg,
    rgba(0, 186, 249, 1) 0%,
    rgba(0, 106, 236, 1) 100%
  );
  box-shadow: 0 6px 24px 0 rgb(0, 106, 236, 1);
}
.sales_box.box4.d-flex.flex-column.align-items-center {
  background: linear-gradient(
    167deg,
    rgba(248, 112, 186, 1) 0%,
    rgba(149, 128, 252, 1) 100%
  );
  box-shadow: 0 6px 24px 0 rgb(149, 128, 252, 1);
}
button#drop_down_btn\ dropdown-basic {
  /* border: none; */
  background: none;
  color: blue;
  padding: 2px 9px;
  margin-top: 5px;
}
.top_selling_item {
  height: 200px;
  overflow: auto;
}
